#navhomepage:link, #navhomepage:visited, #navhomepage:hover, #navhomepage:active { 
  color: gold;
  text-decoration: none;
  font-family: 'Rubik', sans-serif, Courier, monospace;
}

header {
  background-color: black;
  padding: 1vw;
  margin: 0%;
  border: 0vw;
}

body {
  background-color: rgb(14, 14, 14);
  margin: 0%;
  font-size: large;
  color: white;
}

#contactInfo {
  background-color: rgb(180, 180, 180);
  width: 80%; /* Adjusted width for responsiveness */
  max-width: 40rem; /* Added max-width to limit width on larger screens */
  margin: auto;
  margin-top: 5%;
  padding: 2vw;
  padding-bottom: 1vw;
  border-radius: 5%;
  border: 1px solid black;
  color: black;
  font-size: x-large;
}

#den {
  background-color: rgb(14, 14, 14);
  margin-top: 0%;
  border: 0vw;
  align-items: center;
  height: 80%;
}

/* Media query for smaller screens */
@media (max-width: 600px) {
  #contactInfo {
      width: 90%; /* Adjusted width for smaller screens */
  }
}
