#navhomepage:link, #navhomepage:visited, #navhomepage:hover, #navhomepage:active { 
    color: rgb(8, 166, 31);
    text-decoration: none;
    font-family:'Rubik', sans-serif, Courier, monospace;
}
header{
    background-color: rgb(220, 220, 220);
    padding: 1vw;
    margin: 0%;
    border: 0vw;
}
body{
    background-color:   rgb(220, 255, 212);
    margin: 0%;
    font-size: large;
}
#den{
    background-color:   rgb(225, 255, 212);
    margin-top: 0%;
    border: 0vw;
    align-items: center;
    height: 80%;

}
#den h2{
    margin-top: 0%;
    text-align: center;
    }
#signupdiv{
    background-color:   rgb(255, 255, 255);
    width: 30vw;
    align-items: center;
    margin: auto;
    margin-top: 5%;
    padding: 2vw;   
    padding-bottom:1vw ;
    border-radius: 5%;
    border:1px solid black;
}
form{
    align-items: center;
    margin: auto;
    text-align: center;
}
#fname, #lname{
   width: 42%;
}
#password,#confirmpassword{
    width: 43.5%;
}
#agreement{
    width: 3vw;
    margin:0vw;
    width: 1vw;
    height: 20px;
    margin-left: -60%;
    margin-right: 1%;
    margin-bottom: -10%;
}
#date{
    width: 21%;
}

#togglebtn{
    width:9%;
    height:1.5%;
    margin-left:-12%;
    display:inline;
    border-radius: 1%; 
    border: none;
    background-color: rgb(255, 255, 255);

 }
#phperror{
    color: red;
}
#phonenumber{
    width: 65%;
}
input {
    width: 90%;
    border-radius: 7%;
    height: 2vw;
    margin: 0.5vw;
}
button{
    margin-top: 1vw;
    width: 25%;
    height: 2vw;
    border-radius: 0.5vw;
}
button:hover{
    background-color:#002ead;
    transition: 0.7s;
}
#chn:link, #chn:visited, #chn:hover, #chn:active{
    text-decoration: none;
    font-family:'Rubik', sans-serif, Courier, monospace;
}